
<div class="flexslider">
  <ul class="slides slider-size">
    <li class="slider-size">
      <%= image_tag "amos slider 1.png" %>>
    </li>
    <li>
      <%= image_tag "slider2.jpg" %>
    </li>
    <li>
      <%= image_tag "slider3.jpg" %>
    </li>
    <li>
      <%= image_tag "slider2.jpg" %>
    </li>
  </ul>
</div>

<section class="switch-online-area">
  <div class="container">
    <div class="row">
      <div class="said">
        <h2><b>God said,</b> "Let there be Light" and there was light.</h2>
      </div>
      <p><h2>Switch to Amos Energy for reduced rates. You have the power to choose</h2></p>
    </div>
    <h2 class="wow fadeInRight" data-wow-duration="3s" data-wow-delay="0.35s"><h3>It is a long established fact that a buyer will prefer to pay a lower price for the same product, service and value if given the choice.</h3><br></h2>
    <h2 class="wow fadeInUp" data-wow-duration="4s" data-wow-delay="0.40s">Switch to Amos Energy for reduced rates. You have the power to choose.</h2>
  </div>

  <p class="contact"> Call <a href="#">1(800)335-9956</a></p>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="offer">
        <div class="box">
          <p><%= link_to 'Residential Energy' %><p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="offer">
        <div class="box">
          <p><%= link_to 'Business Energy' %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p class="paragraph">


      <h2> Amos Energy was started by a group of private investors with these goals:<p/>
    </p> to pass savings to our customers and to offer reduced rates </p>while provideing opportunities and good compensation plans to our consultants.<p/></h2>

    <h2>Amos Energy Stake holders collectively have more than 20 years experience in business development.</h2>
      </p> Moving to Amos Energy is easy. Enjoy reduced rates when you sign up for any  term. </p> Sign up as a new customer or  business owner and see how low energy rates can help reduce your over head costs </p>
  </div>
</section>

<div class="sign-up-steps">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h2 class="head"></h2>
      </div>

      <div class="col-md-offset-1 col-md-2 col-sm-12 col-xs-12">
        <div class="single-step-box">
          <h2> NO DEPOSITS</h2>
        </div>
      </div>

      <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="single-step-box">
          <h2>NO CREDIT CHECK</h2>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="single-step-box">
          <h2>NO EXIT PENALTY</h2>
        </div>
        <a href="" class="button">Sign Up Today!</a>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="single-step-box">
          <h2>Term-12-6-3-months</h2>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 col-sm-12 col-xs-12">
        <div class="single-step-box">
          <h2> Amos Energy  for Low Rates</h2>
        </div>

      </div>
    </div>
  </div>
</div>
</div>



